node_modules/
npm-debug.log
.DS_Store
.vscode/
.idea/
create-mern-app/node_modules/
create-mern-app/templates/*/node_modules/
dist/
build/
.env
*.tgz
coverage/
templates/server/.env
templates/client/.env
